@model Projects.Models.Article

@{
    var peopleId = ViewData["PeopleId"];
}
<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Article</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mb-2">
                    <input type="hidden" asp-for="PeopleId" class="form-control" id="id" value=@peopleId>
                </div>
                <div class="mb-2">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" asp-for="Title" class="form-control" id="title" placeholder="Input title">
                </div> <div class="mb-3">
                    <label for="link" class="form-label">Link</label>
                    <input type="text" asp-for="Link" class="form-control" id="link" placeholder="Input link">
                </div>
                <div class="w-25 btn-group " role="group" style="float: right">
                    <a asp-controller="ManageArticle" asp-action="Index" asp-route-id=@peopleId class="btn btn-outline-dark mx-1">
                        Go Back
                    </a>
                    <input type="submit" class="btn btn-info " value="Create" />
                </div>
            </div>
        </div>
    </div>
</form>

