@model IEnumerable<Projects.Models.Article>

@{
    var peopleId = ViewData["PeopleId"];
}

<div class="container p-3">
    @if (Model.Count() > 0)
    {
        <table class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Titles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var article in Model)
                {
                    <tr>
                        <td width="90%">@article.Title</td>
                        <td width="10%">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="@article.Link" class="btn btn-info" >
                                    <i class="bi bi-eye"></i>
                                    View
                                </a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <p>No Articles Yet</p>
            <a asp-controller="ManageArticle" asp-action="Create" asp-route-Id="@peopleId" class="btn btn-outline-info">
                <i class="bi bi-plus-lg"></i>
                Add New Article
            </a>
        </div>
    }

</div>